@let ports = processedPorts(); @if (ports) {
<div class="ports">
  @for (port of ports; track $index) {
  <div class="port">
    <handle
      type="source"
      [position]="position()"
      [id]="port.id"
      [template]="handleTemplate"
    />
    <ng-template #handleTemplate let-ctx>
      <svg:circle
        [attr.cx]="ctx.point().x"
        [attr.cy]="ctx.point().y"
        [attr.r]="6"
        stroke-width="1"
        [attr.stroke]="port.color"
        [attr.fill]="port.color"
        [matTooltip]="port.name"
        (mousedown)="onHandleMouseDown()"
      />
    </ng-template>
  </div>
  }
</div>
}
