@let ports = nodePorts(); @if (ports) {
<div class="ports">
  @for (port of ports; track $index) {
  <div class="port">
    <handle
      type="source"
      [position]="position()"
      [id]="port.id"
      [template]="handleTemplate"
    />
    <ng-template #handleTemplate let-ctx>
      <svg:rect
        [attr.x]="ctx.point().x - 6"
        [attr.y]="ctx.point().y - 6"
        [attr.width]="12"
        [attr.height]="12"
        stroke-width="1"
        [attr.stroke]="'gray'"
        [attr.fill]="'gray'"
        (mousedown)="onHandleMouseDown()"
      />
    </ng-template>
  </div>
  }
</div>
}
