<div class="sidebar">
  <div dndDraggable class="custom-node custom-node_draggable">
    <button class="custom-node__button">Drag here</button>
  </div>
</div>

<div dndDropzone class="vflow-container">
  <!-- <alexander-svg [elements]="myElements"></alexander-svg> -->
  <grafen-background-svg [elements]="darmstadtElements"></grafen-background-svg>
  <!-- <app-background-svg [elements]="myElements"></app-background-svg> -->
  <vflow
    view="auto"
    dndDropzone
    (dndDrop)="createNode($event)"
    (onConnect)="connect($event)"
    [nodes]="nodes"
    [edges]="edges"
    [background]="backGround"
    [maxZoom]="25"
    [minZoom]="-25"
  >
    <ng-template nodeHtml let-ctx>
      <div
        class="custom-node"
        [class.custom-node_selected]="ctx.selected()"
        (keydown.backspace)="ctx.selected() && deleteNode(ctx.node)"
      >
        <button class="custom-node__button" selectable>Select here</button>

        <handle type="source" position="right" />
        <handle type="target" position="left" />
      </div>
    </ng-template>

    <ng-template edge let-ctx>
      <svg:path
        selectable
        class="without-tab-index"
        [attr.d]="ctx.path()"
        [attr.stroke]="ctx.selected() ? '#0f4c75' : '#bbe1fa'"
        fill="none"
        stroke-width="5"
        tabindex="0"
        (keydown.backspace)="ctx.selected() && deleteEdge(ctx.edge)"
      />
    </ng-template>
  </vflow>
</div>
