<div class="vflow-container">
  <button (click)="toggleDraggable()">
    {{ isDraggable() ? "Lock Movement" : "Unlock Movement" }}
  </button>
  <!-- <alexander-svg [elements]="myElements"></alexander-svg> -->
  <grafen-background-svg
    #svgBackground
    [elements]="darmstadtElements"
  ></grafen-background-svg>
  <!-- <app-background-svg [elements]="myElements"></app-background-svg> -->
  <vflow
    view="auto"
    (onConnect)="connect($event)"
    (onNodesChange)="onPositionChange($event)"
    [connection]="connectionSetting"
    [nodes]="nodes"
    [edges]="edges"
    [background]="backGround"
    [maxZoom]="25"
    [minZoom]="-25"
  >
    <ng-template edge let-ctx>
      <svg:path
        selectable
        class="without-tab-index"
        [attr.d]="ctx.path()"
        [attr.stroke]="ctx.selected() ? '#0f4c75' : '#bbe1fa'"
        fill="none"
        stroke-width="5"
        tabindex="0"
        (keydown.backspace)="ctx.selected() && deleteEdge(ctx.edge)"
      />
    </ng-template>
  </vflow>
</div>
