<div #vflowContainer class="vflow-container">
  <!--   <button (click)="toggleDraggable()">
    {{ isDraggable() ? "Lock Movement" : "Unlock Movement" }}
  </button> -->
  <!-- <grafen-background-svg #svgBackground></grafen-background-svg> -->
  <vflow
    #vflow
    view="auto"
    (onConnect)="connect($event)"
    (onNodesChange)="onPositionChange($event)"
    [connection]="connectionSetting"
    [nodes]="nodes"
    [edges]="edges"
    [background]="{
      type: 'image',
      src: 'src/assets/angle-right.svg',
      scale: 1
    }"
    [maxZoom]="25"
    [minZoom]="-25"
  >
    <ng-template nodeHtml let-ctx>
      <custom-node [nodeContext]="ctx" />
    </ng-template>
    <ng-template edge let-ctx>
      <svg:g eta-edge [edgeContext]="ctx" />
    </ng-template>
  </vflow>
</div>
