.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node {
  position: relative;
  background-color: transparent;
  border: 1px solid black;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    .actions {
      display: flex;
    }
  }
  // Use CSS variables for width and height
  width: var(--node-width, 200px); // Default to 200px if the variable isn't set
  height: var(
    --node-height,
    200px
  ); // Default to 200px if the variable isn't set

  // Indicate to the user node will be deleted
  &:has(.delete:hover) {
    opacity: 0.5;
  }
}

.node-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portsLeft {
  position: absolute;
  left: 0;
  top: 0.5;
}

.portsRight {
  position: absolute;
  right: 0;
  top: 0.5;
}

.portsTop {
  position: absolute;
  top: 0; /* Align to the top of the node */
  left: 50%; /* Center horizontally relative to the node */
  right: 50%;
}
