<div class="container">
  <div
    class="node"
    [style]="{
      '--node-width': width() + 'px',
      '--node-height': height() + 'px'
    }"
  >
    <div class="node-info">
      @if(nodeContext().node.data.feature.elements) {
      <div class="svg-container">
        <svg width="100%" height="100%" viewBox="0 0 200 200">
          <g
            custom-element
            [width]="width()"
            [height]="height()"
            [element]="nodeContext().node.data.feature.elements!"
          ></g>
        </svg>
      </div>
      }
      <h4>{{ name() }}</h4>
    </div>

    <div class="portsLeft">
      <eta-scope-node-ports
        [nodePorts]="leftPorts()"
        [position]="'left'"
      ></eta-scope-node-ports>
    </div>

    <div class="portsRight">
      <eta-scope-node-ports
        [nodePorts]="rightPorts()"
        [position]="'right'"
      ></eta-scope-node-ports>
    </div>
    <div class="portsTop">
      <eta-scope-node-ports
        [nodePorts]="topPorts()"
        [position]="'top'"
      ></eta-scope-node-ports>
    </div>
  </div>
</div>
