<div class="container">
  <div class="node">
    <div class="node-info">
      <!-- @if(data()?.feature?.elements) {
      <div class="svg">
        <svg>
          <svg:g custom-element [element]="data()?.feature?.elements!"></svg:g>
        </svg>
      </div>
      } -->
      <span>{{ data()?.feature?.name }}</span>
    </div>

    <div class="portsLeft">
      <eta-scope-node-ports
        [nodePorts]="leftPorts()"
        [position]="'left'"
      ></eta-scope-node-ports>
    </div>

    <div class="portsRight">
      <eta-scope-node-ports
        [nodePorts]="rightPorts()"
        [position]="'right'"
      ></eta-scope-node-ports>
    </div>
    <div class="portsTop">
      <eta-scope-node-ports
        [nodePorts]="topPorts()"
        [position]="'top'"
      ></eta-scope-node-ports>
    </div>
  </div>
</div>
