.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node {
  position: relative;
  background-color: transparent;
  border: 3px solid black;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    .actions {
      display: flex;
    }
  }

  // Indicate to the user node will be deleted
  &:has(.delete:hover) {
    opacity: 0.5;
  }
}

.node-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portsLeft {
  position: absolute;
  left: 0;
  top: 0.5;
}

.portsRight {
  position: absolute;
  right: 0;
  top: 0.5;
}

.portsTop {
  position: absolute;
  top: 0;
  right: 0.5;
}
