<div class="container">
  <div
    class="node"
    [style]="{
      '--node-width': width() * 1.5 + 'px',
      '--node-height': height() * 1.5 + 'px'
    }"
  >
    <div class="node-info">
      @if(nodeContext().node.data.feature.elements) {
      <svg
        width="100%"
        height="100%"
        viewBox="0 0 150 150"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g
          custom-element
          [width]="width()"
          [height]="height()"
          [element]="nodeContext().node.data.feature.elements!"
        ></g>
      </svg>
      }
    </div>

    <div class="portsLeft">
      <eta-scope-node-ports
        [nodePorts]="leftPorts()"
        [position]="'left'"
      ></eta-scope-node-ports>
    </div>

    <div class="portsRight">
      <eta-scope-node-ports
        [nodePorts]="rightPorts()"
        [position]="'right'"
      ></eta-scope-node-ports>
    </div>
    <div class="portsTop">
      <eta-scope-node-ports
        [nodePorts]="topPorts()"
        [position]="'top'"
      ></eta-scope-node-ports>
    </div>
  </div>
</div>
